<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyntraApplicationAutomationTestSuite">
<test name="Myntra App Test">
<listeners>
<listener class-name ="com.myntra.ExtentReport.Listener.ExtentReporterNG" />
</listeners>
		<classes>
			<class name="com.yntra.testcases.Myntra_Login_Test" />
			<class name="com.yntra.testcases.Myntra_Home_Test" />
		</classes>
	</test>
</suite>